<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999744602861-oq22v14p7jq4pan1q32clvjnd4pv8drj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999744602861-oq22v14p7jq4pan1q32clvjnd4pv8drj</string>
	<key>API_KEY</key>
	<string>AIzaSyDPADnc3Fz7SC_v4pbAyAKeCF9XfJzNduM</string>
	<key>GCM_SENDER_ID</key>
	<string>999744602861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aupi.collapse</string>
	<key>PROJECT_ID</key>
	<string>collapse-634d8</string>
	<key>STORAGE_BUCKET</key>
	<string>collapse-634d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999744602861:ios:d53ed1e98c21cfb61c42e4</string>
	<key>DATABASE_URL</key>
	<string>https://collapse-634d8-default-rtdb.firebaseio.com</string>
</dict>
</plist>